<% if model.errors.any? %>
  <div class="alert alert-warning">

    <div class="px-4">
      <h4>
        不足している項目が
        <%= model.errors.full_messages.count %>項目見つかりました。
      </h4>
      <h4>
        以下の項目を確認してください。
      </h4><br>

      <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>

  </div>
<% end %>
