<div class="container mt-5 mb-5">

  <div class="center-block">
    <h2 class="text-primary font-weight-bold my-4 text-center">おしゃべりるーむとは</h2>
  </div>

  <p class="text-center py-4">「自分にとって大切な時間はなにか」「やっていて楽しいこととは何か」に特化し、
  自分の好きな趣味をアピールするためのサイトです。</p>

  <div class="m-4">
    <h4 class="font-weight-bold"><i class="fas fa-hand-point-right"></i>特徴</h4>
    <p>１：趣味、好きな時間の過ごし方を共有することで、自分の好きを読者にアピールできる</p>
    <p>２：好きを投稿する際に、自らタグを設定できるので、いろいろなジャンルの投稿を見つけやすい</p>
    <p>３：気になった投稿に対してコメントを送ることができるため、質問やアドバイスを投げかけることも可能</p>
  </div>


  <div class="m-4">
    <h4 class="font-weight-bold"><i class="fas fa-hand-point-right"></i>目的</h4>
    <p>１：趣味を投稿することで、自分の好きなものについて知ってもらう機会を作ること</p>
    <p>２：様々な投稿の中から興味のある趣味を見つけ、新しい趣味を見つけること</p>
    <p>３：同じような趣味を持つ人と、趣味の話で盛り上がること</p>
  </div>

  <div class="m-4">
    <h4 class="font-weight-bold"><i class="fas fa-hand-point-right"></i>立ち上げた経緯</h4>
    <p>インフラ化が進んだ現代では、日々の時間短縮になるような便利な道具やサービスが増え、
    一人一人の自由時間が増えている傾向にあるため、好きな時間の過ごし方は人の数だけある
    と考えました。そうなると今度は、自分の好きなものを人と共有したくなり、好きなことに
    ついて人に語りたくなるものだと思います。しかし、自分の好きなことに対して語り、
    聞いてもらうことはとても楽しいことですが、家族や友達などに話した場合、相手がその話に対して
    必ずしも興味があるとは限らず、一方的な会話になってしまいお互いに気持ちの良い空間を作ることができません。
    そこで好きなものを共有できる専用のサイトを作れば、自分語りの許される、話す側も、聞く側も
    気持ちのいい空間を作ることができると考えました。
    また、趣味がない人や、今の趣味が物足りない人にとって、新しい経験作りの場になると考え、
    当サイトを立ち上げることにいたしました。</p>
  </div>

</div>