<div class="container">

  <div class="border-right border-left border-bottom p-2 px-4">
    <h4 class="text-primary font-weight-bold">タグ一覧</h4>
  </div>

  <!-- ユーザーの詳細 -->
  <div class="border-right border-left border-bottom">

    <% @tag_list.each do |list|%>
    <div class="border-bottom p-2">

      <div class="mx-3">
        <%=link_to list.tag_name,search_tag_path(tag_id: list.id) %>
        <%="(#{list.likes.count})" %>
      </div>

    </div>
    <% end %>

    <%= paginate @tag_list %>

  </div>
</div>