<div class="container">

  <div class="border-right border-left border-bottom p-2">
    <h4 class="text-primary font-weight-bold">ユーザーの投稿一覧</h4>
  </div>

  <!-- ユーザーの投稿一覧 -->

  <% @likes.each do |l| %>

    <div id="favorite_buttons_<%= l.id %>">
    <%= render 'public/likes/like', like: l %>
    </div>

  <% end %>

</div>