<div class="container">

  <div class="border-right border-left border-bottom p-2">
    <h4 class="text-primary font-weight-bold">投稿記事</h4>
    <%= link_to '新しい順', likes_path(latest: "true") %>
    |<%= link_to '古い順', likes_path(old: "true") %>
    <%#= link_to '評価の高い順', likes_path(favorite_count: "true") %>
  </div>

 <!--ユーザーの投稿一覧-->

  <% @likes.each do |l| %>
  <div id="favorite_buttons_<%= l.id %>">
    <%= render 'public/likes/like', like: l %>
  </div>
  <% end %>

</div>