<div class="container">

  <% @tag_list.each do |list| %>
    <%= link_to list.name, tag_likes_path(like_tag_id: list.id), :style=>"text-decoration: none; color: #000;" do %><%= list.likes.count %><% end %>
  <% end %>

  <div class="border-right border-left border-bottom p-2">
    <h4 class="text-primary font-weight-bold">投稿記事</h4>
  </div>

<!-- ユーザーの投稿一覧 -->

  <% @likes.each do |l| %>
  <div id="favorite_buttons_<%= l.id %>">
    <%= render 'public/likes/like', like: l %>
  </div>
  <% end %>

</div>