<div class="container">

  <div class="border-right border-left border-bottom py-2 px-4">
    <h4 class="text-primary font-weight-bold">投稿詳細</h4>
  </div>

  <!-- ユーザーの投稿詳細 -->
  <div id="favorite_buttons_<%= @like.id %>">
  <%= render 'like', like: @like %>
  </div>

  <!-- 投稿に対してのコメント機能 -->
  <div id="comment_buttons">
  <%= render 'public/comments/comment', like: @like, comment: @comment,comments: @comments, comment_reply: @comment_reply %>
  </div>

</div>