@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 50px 0;
}

.wrap {
  width: 100%;
  max-width: 825px;
  margin: 0;
}

#tab-menu {
  display: flex;
}

#tab-menu li {
  list-style-type: none;
  width: 50%;
}

#tab-menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  background: #000;
  border: 1px solid #c0c0c0;
}

#tab-menu .active {
  background: #fff;
  color: #000;
}

#tab-contents {
  display: flex;
  flex-wrap: wrap;
}

#tab-contents .tab {
  width: 100%;
  padding: 0 15px;
  background: #fff;
  border: 1px solid #dee2e6;
}

#tab-contents .tab .row {
  padding: 10px 0;
  border-bottom: 1px solid #dee2e6;
}

#tab-contents p {
  color: #dee2e6;
  line-height: 2.5;
}

#content-lists {
  padding: 10px 15px;
  border-bottom: 1px solid #dee2e6;
}